**/*.o
**/*.exe
**/*.obj
**/*.lib
**/*.dll
**/*.tar
**/*.tar.gz
**/*.7z
**/*.zip
**/build/
**/_third*
**/.idea
**/.dub
**/.vscode
**/__pycache__
**/*.code-workspace
/_rust/cargo_home
/_rust/rust
/_rust/**/target/
_python/Python*
/_dlang/_projects/dlangui-master
/_dlang/dmd2*
/_dlang/gdc-6.3
/_dlang/ldc2*
_dlang/_projects/dlangui-0.9.182/
/_doc/
/_go/go/
/_java/maven-repo/
/_java/opt/
/_java/**/target/
/_javascript/opt/
/_kotlin/kotlinc/
/_kotlin/kotlinnw/
**/*.class
.classpath
**/target
**/**/target-output/
**/**/test-output/
**/.settings
**/*~
.project
**/*.jar
/_lisp/
/_lua/LuaJIT-2.0.5
/_perl/strawberry-perl_5_28/
/_tcltk/*.zip
/_tcltk/tk8.6.8/
/_tcltk/tclxml-3.2/
/_tcltk/tcl8.6.8/
/_tcltk/bin_8_6_8/
/_c64/c64-basic
